<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="wallet">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="promo">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Promotions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qr">
      <ion-icon name="qr-code"></ion-icon>
      <ion-label>QR Code</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
