<ion-header>
    <ion-toolbar>
        <ion-title>Wallet</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="!ios">
        <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
            <ion-segment-button value="myCards">
                My Stamp Cards
            </ion-segment-button>
            <ion-segment-button value="allCards">
                All Cards
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content>
        <ion-list [ngSwitch]="segment">
            <ion-item-group *ngSwitchCase="'myCards'">
                <ion-card >

                    <ion-card-content *ngFor="let progress of user?.userSpecifics.stampCardProgresses">
                        <ion-card-header *ngFor="let reward of progress?.stampCard.stampCardReward">
                            <ion-card-subtitle>{{reward.position}} Stamps: {{reward.reward.rewardDescription}}</ion-card-subtitle>
                        </ion-card-header>
                        <h2>Your actual Score: {{progress.actualScore}}</h2>
                    </ion-card-content>

                    <!--                    <ion-card-content>-->
                    <!--                        <button>{{ company.stampCard.score }}</button>-->
                    <!--                    </ion-card-content>-->
                </ion-card>
            </ion-item-group>
        </ion-list>

        <ion-list [ngSwitch]="segment">
            <ion-item-group *ngSwitchCase="'allCards'">
                <ion-card *ngFor="let company of companies">

                    <ion-item detail="false" lines="none" routerLink="/tabs/wallet/card-detail/{{company.id}}">
                        <ion-card-header>
                            <ion-card-title>{{ company.companyName }}</ion-card-title>
                            <ion-card-subtitle>{{company.zipCode}} {{ company.city }} {{ company.street }} {{company.localNumber}}</ion-card-subtitle>
                        </ion-card-header>
                    </ion-item>

<!--                    <ion-card-content>-->
<!--                        <button>{{ company.stampCard.score }}</button>-->
<!--                    </ion-card-content>-->
                </ion-card>
            </ion-item-group>
        </ion-list>

    </ion-content>
