<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  &lt;!&ndash; Default &ndash;&gt;-->
<!--  <ion-badge>99</ion-badge>-->

<!--  &lt;!&ndash; Colors &ndash;&gt;-->
<!--  <ion-badge color="primary">11</ion-badge>-->
<!--  <ion-badge color="secondary">22</ion-badge>-->
<!--  <ion-badge color="tertiary">33</ion-badge>-->
<!--  <ion-badge color="success">44</ion-badge>-->
<!--  <ion-badge color="warning">55</ion-badge>-->
<!--  <ion-badge color="danger">66</ion-badge>-->
<!--  <ion-badge color="light">77</ion-badge>-->
<!--  <ion-badge color="medium">88</ion-badge>-->
<!--  <ion-badge color="dark">99</ion-badge>-->

  <!-- Item with badge on left and right -->
  <ion-item>
    <ion-label>All Users</ion-label>
    <ion-badge color="warning" slot="end">{{usersCount}}</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>- in this Companies</ion-label>
    <ion-badge color="success" slot="end">{{companiesCount}}</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>- in this Customers</ion-label>
    <ion-badge slot="end">{{customersCount}}</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>All Stamp Cards</ion-label>
    <ion-badge color="danger" slot="end">{{stampCardsCount}}</ion-badge>
  </ion-item>

</ion-content>
